.box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  padding: 50px;
}
.box li {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 271px;
  height: 509px;
}
.box img {
  max-width: 171px;
  max-height: 171px;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 60px;
}
.box strong {
  font-size: 16px;
  line-height: 20px;
  color: #191919;
  margin-top: 10px;
  text-align: left;
  margin-left: 5px;
}
.texto-strong {
  display: flex;
  position: absolute;
  text-align: left;
  font-size: 30px;
  padding-left: 5px;
  padding-top: 380px;
  margin-bottom: 10px;
}
.escritor {
  color: rgb(138, 119, 119);
  font-weight: lighter;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.span {
  text-align: left;
  margin-left: 8px;
  font-weight: lighter;
  font-size: 20px;
}
.container-image {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 65%;
  height: 400px;
  margin-left: 270px;
  margin-top: 100px;
  border-radius: 5px;
}
.background-image {
  display: flex;
  position: absolute;
  background-image: url("https://s2.glbimg.com/Uy7qcX2g6gZ-5oPe82JWdBJX8vo=/0x0:2000x1334/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2018/K/B/8Hc9iIRC6kB5Dh2KUmnw/foto-1-materia-bibliotecas-unifor-biblioteca-central.jpg");
  background-repeat: no-repeat;
  width: 62%;
  height: 360px;
  margin-left: 62px;
  margin-top: 20px;
}
.button-position {
  position: absolute;
  display: flex;
  margin-top: 450px;
  margin-left: 30px;
  text-decoration: none;
}

.button-style {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
}
